@import url("https://fonts.googleapis.com/css2?family=Swanky+and+Moo+Moo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");
@font-face {
  font-family: "kingSejongBoldFont";
  font-weight: normal;
  src: url("fonts/KingSejongInstitute-Bold.otf") format("truetype");
}
@font-face {
  font-family: "kingSejongRegularFont";
  font-weight: normal;
  src: url("fonts/KingSejongInstitute-Regular.otf") format("truetype");
}
@font-face {
  font-family: 'Ownglyph_meetme-Rg';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.swanky-and moo moo-regular {
  font-family: "Swanky and Moo Moo", cursive;
  font-weight: 400;
  font-style: normal;
}
.aladin-regular {
  font-family: "Aladin", system-ui;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "kingSejongRegularFont";
}
