/* ===================== 메뉴바 =====================*/
.app_bar_main_container {
  position: relative;
}

.nav {
  position: absolute;
  z-index: 999;
}

.container {
  position: relative;
  display: flex;
}

.menu_bar {
  display: flex;
  position: relative;
  justify-content: center;
  width: 65px;
  height: 100vh;
  background-color: #d4d8ff;
}

/* .menu_bar::after {
  content: '';
  position: absolute;
  width: 20px;
  right: -8px;
  background-color: inherit;
  height: 100vh;
  filter: blur(4px);
} */

#menu_icon {
  display: none;
}

.menu_icon {
  display: block;
  width: 28px;
  height: 28px;
  margin-top: 28px;
  position: relative;
  cursor: pointer;
}

.menu_icon_bar {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 30px;
  background-color: #ffffff;
  transition: all 0.5s;
}

.menu_icon_bar:nth-child(1) {
  top: 0;
}

.menu_icon_bar:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.menu_icon_bar:nth-child(3) {
  bottom: 0;
}

#menu_icon:checked + .menu_bar .menu_icon .menu_icon_bar:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

#menu_icon:checked + .menu_bar .menu_icon .menu_icon_bar:nth-child(2) {
  opacity: 0;
}

#menu_icon:checked + .menu_bar .menu_icon .menu_icon_bar:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

#menu_icon:checked + .menu_bar::after {
  display: none;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 0px;
  left: 65px;
  height: 100vh;
  background-color: #ffffff;
  visibility: hidden;
  transition: all 0.5s;
}

#menu_icon:checked ~ .menu {
  visibility: visible;
  width: 230px;
}

.user_info {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
  opacity: 0;
  transition: all 0.5s;
}

.user_icon {
  width: 100px;
  height: 100px;
  background-color: #f2f2f2;
  opacity: 1;
  border-radius: 50%;
  transition: all 0.4s;
}

.user_nickname {
  display: block;
  margin-top: 20px;
  font-size: 24px;
  opacity: 0;
  white-space: nowrap;
  transition: all 0.5s;
}

#menu_icon:checked ~ .menu .user_info {
  visibility: visible;
  display: flex;
  opacity: 1;
}

#menu_icon:checked ~ .menu .user_info .user_nickname {
  visibility: visible;
  display: flex;
  opacity: 1;
}

.menu_list {
  display: block;
  opacity: 0;
  margin-top: 30px;
  transition: all 0.5s;
}

#menu_icon:checked ~ .menu .menu_list {
  display: block;
  opacity: 1;
}

.menu_list_item {
  visibility: hidden;
  display: inline-block;
  text-align: center;
  color: #4a4444;
  transition: all 1s;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  line-height: 60px;
  font-size: 22px;
  width: 100%;
  height: 60px;
  opacity: 0;
  transition: all 0.3s;
}

.menu_list_item:hover {
  background-color: #d9d9d9;
  color: #ffffff;
}

#menu_icon:checked ~ .menu .menu_list .menu_list_item {
  visibility: visible;
  opacity: 1;
}
